<%- include('partials/header') %>

<p><%= user.userName %></p>

<% for(let i = 0; i < posts.length; i++) { %>
<div>
	<p><%= posts[i].title %></p>
	<p><%= posts[i].caption %></p>
</div>
<% } %>

<a href="/posts">Go to posts</a>

<%- include('partials/footer') %>
